@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.page-container {
  width: 70%;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.get-prices:link,
.get-prices:visited {
    display: inline-block;
    background-color: rgb(149, 193, 31);
    color: #fff;
    text-decoration: none;
    padding: 1.3rem 3rem;
    font-weight: 700;
}


.bg-grey{
    background-color: rgb(239, 239, 239);
}

.hero p{
    font-size: 2.3rem;
    line-height: 52px;
    font-weight: 800;
}

.page-container h3{
    color: rgb(225, 79, 125);
    font-weight: 800;
}

.eligible-banner:link,
.eligible-banner:visited{
    background-color: rgb(199, 2, 65);
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 1.5rem;
    font-weight: 700;
}

.check-availability{
    text-align: center;
    font-size: 24px;
    background-color: rgb(221, 221, 221);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.availability-dates{
 display: flex;
 flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.availability-dates a:link,
.availability-dates a:visited{
    background-color: rgb(199, 2, 65);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 0.5rem 1.5rem;
    font-size: 20px;
}

footer{
    background-color: rgb(113, 112, 111);
    color: rgb(0, 0, 0);
}



@media only screen and (max-width: 575px) {

    .header-content{
        width: 90% !important;
    }

    .get-prices{
        display: none !important;
    }

    .hero > div{
        width: 95%;
    }

    .wrapper .w-70 , .page-container{
        width: 95% !important;
    }

    .availability-dates a:link, .availability-dates a:visited{
        width: 46.5%;
        background-color: #95C21F;
    }

}



