@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #79a811;
    --secondary: #DDFFBB;
    --black: #000000;
    --off-black: #0A0908;
    --dark-grey: #505051;
    --grey: #bababb;
    --light-grey: #eaeaeb;
    --off-white: #fafafb;
    --white: #ffffff;
    --green: #30AB66;
    --blue: #2b50aa;
    --red: #d0011b;
}




body, button, input, select, textarea, .input-decorator {
    font-family: "Lato";
    color: #505051;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.hide_mobile, .block.hide_mobile {
    display: block;
}
.block {
    position: relative;
}

section > .block > .inner-mid {
    width: 800px;
}

section > .block > .inner-wide, section > .block > .inner-mid, section > .block > .inner-narrow, section > .block > .inner-full {
    margin: 0 auto;
}
.align-center, .center {
    text-align: center;
}

/* h3 {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: normal;
    color: #505051;
    text-transform: unset;
    margin: 0rem;
} */

.top-div{
    text-align: center;
    background-color: rgb(250, 250, 251);
    font-size: 20px;
    line-height: 27px;
    padding: 0.75rem 0;
    color: #505051;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

main >h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.hero-small-img{
    border-top: 1px solid #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.hero-small-img img{
    height: 60px;
}

.img-button:link,
.img-button:visited{
    padding: 0.875em 1em;
    font-size: 1.25rem;
    transition-duration: 0.2s;
    border: 1px solid #fee1ca;
    border-radius: 5px;
    background: #fff8f2;
    transform: none;
    box-shadow: unset;
    width: 100%;
    transition-property: all;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #Fb6e01;
    font-weight: 600;
    justify-content: center;
}

.img-button:hover,
.img-button:active{
    background: #fff3ea;
    transform: none;
    box-shadow: unset;
    border-color: #fee1ca;
}

.fs-20, .text-content{
    font-size: 20px !important;
    color: #000000;
    font-weight: 400;
}


.multiple-choice{
    align-items: normal;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.multiple-choice-inner{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    justify-content: flex-start;
}

.multiple-choice-option-container{
    flex-basis: 25%;
    max-width: 205px;
    min-width: 0;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

@media only screen and (max-width:615px){
    .multiple-choice-option-container{
        flex-basis: 50% !important;
    }

    .top-div{
        display: none;
    }
}

.multiple-choice-option{
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

.multiple-choice-option label{
    font-family: "Lato";
    font-size: 0.9rem;
    color: #505051;
    font-weight: normal;
    line-height: 1.3;
    text-transform: none;
    letter-spacing: normal;
}

.label-container {
    width: 100%;
    flex-direction: column;
    transition: all;
    transition-duration: 0.1s;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #eaeaeb;
    background: transparent;
    text-align: center;
    padding: 15px 0;
    flex: 1;
}

.multiple-choice .label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    /* text-align: left; */
}

.multiple-choice .label-container > .label {
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    hyphens: auto;
    cursor: pointer;
    display: block;
    letter-spacing: unset;
    text-transform: none;
    font-family: "Lato";
    font-size: 1rem;
    color: #505051;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 0;
    transition: all;
    transition-duration: 0.1s;
    width: 100%;
    word-wrap: break-word;
}

.multiple-choice-option label{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: initial;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0 0 #505051;
    border-width: 2px;
    border-style: solid;
    border-color: #505051;
    border-radius: 5px;
    background: white;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.multiple-choice-option label:hover{
    background: white;
    border-color: #79a811;
    box-shadow: 5px 5px 0 0 #79a811;
    transform: translate(-3px, -3px);
}


button.generic-button {
    width: 100%;
    transition-property: all;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    outline: none;
    justify-content: center;
    color: #ffffff;
}

button.continue {
    padding: 0.875em 1em;
    transition-duration: 0.2s;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    background: #f56901;
    transform: none;
    box-shadow: unset;
    border-color: transparent;
    font-size: 1rem;
}

button.continue.large {
    padding: 0.875em 1em;
    font-size: 1.25rem;
}

button.continue.large .graphic {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    margin-top: 2px;
}

button.continue .graphic svg {
    transition-duration: 0.2s;
}

button.generic-button .graphic svg {
    transition-property: color;
    width: inherit;
    height: inherit;
    color: inherit;
    fill: currentColor;
}

ul.link-list li {
    font-size: 13px;
    font-weight: normal;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.link-list li a {
    color: #bababb;
    text-decoration: none;
}

footer{
    background-color: #ebebeb;
    margin-top: 1rem;
}

.link-list-block.justify-center ul.link-list {
    justify-content: center;
}
ul.link-list {
    display: flex;
    justify-content: center;
    gap: 7px;
}

ul.link-list li a:hover {
    color: #79a811;
    text-decoration: none;
}